body{
	background: #e5e6e8;
}

img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: Lobster;
	margin-left: 1.66%;
	font-size: 25px;
	font-weight: 800;
	border-bottom: 3px solid red;
	width: 63.32%;
}